# Volume to be used for MinIO server.
MINIO_VOLUMES="/tmp/minio/"
# Use if you want to run MinIO on a custom port.
MINIO_OPTS="--address :9199 --console-address :9001"
MINIO_ROOT_USER="{{ minio_root_user }}"
# Root secret for the server.
MINIO_ROOT_PASSWORD=Root-Password